// Here I'm defining a basic HTML struture for my resonse to take.
// Objects like title or message are defined in our main file. In this way the basic JSON response will take on their properties.

html
    head            
        title= title 
    body
        h1= message